@import "tailwindcss";

/* Estilos base */
body {
  @apply bg-slate-950 text-slate-200 antialiased;
  /* El antialiased hace que las fuentes se vean más nítidas */
}

/* Scrollbar personalizada (detalle pro) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}