@import "tailwindcss";

html {
  scroll-behavior: smooth; 
  scroll-padding-top: 80px; 
}

body {
  @apply bg-slate-950 text-slate-200 antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}